<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>FE!N</title>
</head>
<body class="h-screen grid place-content-center bg-black">
    <div class="">
        <div class="flex justify-center">
            <img src="/static/fein.png" alt="FE!N" />
        </div>
        <div>
            <p class="text-center py-10 text-white">Playboi Carti Albums</p>
        </div>

            <div class="grid place-content-center p-10">
                <img width="500px" src="%URL%" alt="%ALBUM%">
            </div>
    </div>
</body>
</html>